.hobby1-list{
  text-align: center;
  border-radius: 25px;
  background: #747bff;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.hobby1-info{
  text-align: center;
  border-radius: 25px;
  background: #747bff;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.hobby1-title{
  text-align: center;
  border-radius: 25px;
  background: #747bff;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.form1{
  text-align: center;
  border-radius: 25px;
  background: #747bff;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.table1{
  text-align: center;
  border-radius: 25px;
  background: #747bff;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.list1{
  text-align: center;
  border-radius: 25px;
  background: #747bff;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.hobby_title2{
  text-align: center;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.hobby_intro2 {
  text-align: center;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.form2{

  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.hobby2-list{
  text-align: center;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.list2-title{
  text-align: center;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}
.table2{
  text-align: center;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
